<h1 mat-dialog-title>Leave Comment</h1>
<div mat-dialog-content>
    <form [formGroup]="commentForm">
        <mat-form-field appearance="outline">
            <mat-label>Your comment</mat-label>
            <input formControlName="content" matInput placeholder="content">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" style="margin-left: 10px" (click)="newComment()">Save</button>
</div>